
<nav class="navigation" role="navigation">  
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NULP</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/">Main</a></li>
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="form-wrapper">
  <form [formGroup]="form">
  
    <label>
      Сторона:
      <input type="text" formControlName="a">
    </label>
  
    <label>
      Висота:
      <input type="text" formControlName="h">
    </label>
  
    <a class="waves-effect waves-light btn" (click)="square()">Знайти площу</a>  
    <div class="result" *ngIf="result">Площа трикутника: {{result}}см</div>
  </form>
</div>


